# Spring Profile
SPRING_PROFILES_ACTIVE=dev


# Database
DB_NAME=moduplaylist
DB_PORT=3306

DB_URL=jdbc:mysql://localhost:3306/moduplaylist
DB_USERNAME=root
DB_PASSWORD=
DB_ROOT_PASSWORD=root


# Redis
REDIS_HOST=localhost
REDIS_PORT=6379


# Kafka
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=localhost:9092



# AWS S3
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=


# TMDB
TMDB_API_KEY=


# AI
OPENAI_API_KEY=